{#
 # Rosetta - A free (libre) Integrated Library System for the 21st century.
 # Copyright (C) 2019 José M. Moreno <josemmo@pm.me>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program. If not, see <https://www.gnu.org/licenses/>.
 #}
<div class="entity {{ entity.entityType }}">
    <a href="{{ rosetta_entity_path(entity) }}">
        <span class="cover-wrapper">
            <span class="cover"{% if entity.imageUrl is not empty %} style="background-image:url('{{ path('entity_cover', {id: entity.id}) }}')"{% endif %}></span>
        </span>
        <span class="title">
            {% if entity.title is defined %}
                {{ entity.title }}
            {% elseif entity.name is defined %}
                {{ entity.name }}
            {% endif %}
        </span>
    </a>
    {% if entity.creator is defined and entity.creator is not empty %}
        <a href="{{ rosetta_entity_path(entity.creator) }}" class="subtitle">
            {{ entity.creator.name }}
        </a>
    {% endif %}
</div>
