{#
 # Rosetta - A free (libre) Integrated Library System for the 21st century.
 # Copyright (C) 2019 José M. Moreno <josemmo@pm.me>
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program. If not, see <https://www.gnu.org/licenses/>.
 #}


{% extends 'base.html.twig' %}

{% set page_title = entity_title %}

{% block content %}
    <div class="content">
        {% include 'components/toplinks.html.twig' %}

        <main role="main" class="container my-3">
            <div class="row no-gutters">
                <div class="col-md-auto">
                    <aside class="details-column col-left">
                        {# Entity cover #}
                        <div class="cover-wrapper {{ entity.entityType }}">
                            <img class="cover" src="{{ path('entity_cover', {id: entity.id}) }}" alt="" data-color-source>
                        </div>

                        {# Entity attributes #}
                        <div class="attributes">
                            {% block entity_attributes %}{% endblock %}
                        </div>
                    </aside>
                </div>
                <div class="col-md mx-md-3">
                    <section class="details-column col-middle">
                        {# Entity heading #}
                        <div class="heading" data-color-target>
                            <h1>
                                {{ entity_title }}{% if entity_subtitle is defined %}:
                                    <span class="subtitle">{{ entity_subtitle }}</span>
                                {% endif %}
                            </h1>
                        </div>

                        {# Related items #}
                        {% set relations = entity.relations %}
                        {% if relations is not empty %}
                            <div class="subsection">
                                <h3>{% trans %}Related items{% endtrans %}</h3>
                                <div class="entity-reel">
                                    {% for relation in relations %}
                                        {% include 'components/entity-result.html.twig' with {'entity': relation.getOther(entity)} only %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {# Holdings #}
                        {% set holdings = (entity.holdings is defined) ? entity.holdings : []  %}
                        {% if holdings is not empty %}
                            <div class="subsection">
                                <h3>{% trans %}Holdings{% endtrans %}</h3>
                                <div class="table-responsive">
                                    <table class="table table-holdings table-sm table-hover table-borderless">
                                        <thead>
                                            <tr>
                                                <th>{% trans %}Source{% endtrans %}</th>
                                                <th>{% trans %}Call Number{% endtrans %}</th>
                                                <th>{% trans %}Location{% endtrans %}</th>
                                                <th class="text-center">{% trans %}Loanable{% endtrans %}</th>
                                                <th class="text-center">{% trans %}Available{% endtrans %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for holding in holdings %}
                                                <tr>
                                                    <td>{{ rosetta_source_name(holding.sourceId, true) }}</td>
                                                    <td>{{ holding.callNumber|default('N/A') }}</td>
                                                    <td>
                                                        {% if holding.onlineUrl is empty %}
                                                            {{ holding.locationName }}
                                                        {% else %}
                                                            <a href="{{ holding.onlineUrl }}" target="_blank">Online</a>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-center">{{ holding.loanable ? '✔️' : '❌' }}</td>
                                                    <td class="text-center">{{ holding.available ? '✔️' : '❌' }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}

                        {# External links #}
                        {% set external_links = rosetta_external_links(entity) %}
                        {% if external_links is not empty %}
                            <div class="subsection">
                                <h3>{% trans %}External links{% endtrans %}</h3>
                                <p class="m-n1">
                                    {% for link in external_links %}
                                        <a href="{{ link.url }}" target="_blank" class="btn btn-sm btn-outline-primary m-1">{{ link.name }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        {% endif %}
                    </section>
                </div>
                <div class="col-md-auto">
                    <section class="details-column col-right">
                        {# TODO #}
                    </section>
                </div>
            </div>
        </main>
    </div>

    {% include 'components/footer.html.twig' %}
{% endblock %}
